
@{
    ViewBag.Message = "About Maersk Line";
}
<div class="jumbotron">
    <h1>@ViewBag.Message.</h1>
    <p class="lead">Maersk Line is the global container division and the largest operating unit of the A.P. Moller.</p>
</div>
@{
    ViewBag.Title = "Contact";
}
<div>
        <h2>Maersk Line </h2>
</div>
<address>
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    014-6452719
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:maerskSupport@example.com">maerskSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:maersk@example.com">maersk@example.com</a>
</address>

<div style="width:1000px; margin:0 auto;text-align:center">
    <img alt="MaerskLine" width="304" height="100" src="@Url.Content("https://upload.wikimedia.org/wikipedia/en/thumb/3/39/Maersk_Line_Logo.svg/1280px-Maersk_Line_Logo.svg.png")">
</div>
